
<% random_noun = Noun.sample %>
<% random_verb = Verb.sample %>
<% random_event = Event.sample %>
<% random_person = Person.sample %>

<p>  <% quote = "I am going to incubate your app that disrupts the #{random_noun["noun"]} market by #{random_verb["verb"]} when #{random_event["event"]}" %>

<%= random_person["person"] %> is going to incubate your app that disrupts the <%= random_noun["noun"] %> market by <%= random_verb["verb"] %> when <%= random_event["event"] %>.

</p>

<p>
<%= link_to "Add a New App", "/new" %>
</p>

<p>
<%= link_to "I don't like that app at all", "/", "method" => "delete" %>
</p>
