<!DOCTYPE html>
<html>
  <head>
    <title>Stop! I'll give you $1M for 25%</title>

    <%= stylesheet_link_tag    "http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" %>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>

    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="container">
      <div class="header">
        <div class="row">
          <div class="col-md-12">
            <h1>Let Me Incubate Your App</h1>
          </div>
        </div>

        <div class="row">

        <div class="pull-left">
            <%= link_to "Greatest Hits", "/quote/index" %> |
            <%= link_to "I want to make my own", "/new" %> |
            <%= link_to "Give me a new one", "/" %>

             </div>
          <div class="pull-right">
            <% user = User.find_by("id" => cookies["user_id"]) %>
            <% if user != nil %>
              <%= user["name"] %>
            <% end %>
            <%= link_to "Sign Up", '/users/new' %> |
            <%= link_to "Sign In", '/login' %> |
            <%= link_to "My Profile", '#' %> |
            <%= link_to "Sign Out", '/logout' %>
          </div>

        </div>
        <hr>
        <h4 class="text-warning"><%= notice %></h4>
      </div>


      <%= yield %>

    <div>

  </body>
</html>
